@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

.glass-effect {
  background: rgba(26, 20, 17, 0.8);
  backdrop-filter: blur(12px);
}

.dashboard-primary {
  --tw-primary: #13ec5b;
}

